venv
*.retry
*.pyc
configuration/test
group_vars
.cache/
.python-version
configuration.egg-info/
*.class
plugins/710_kubernetes/kubernetes-launcher
plugins/020_btrace/btrace
plugins/020_btrace/test/Start.class
